.font-family-primary {
    font-family: $font-family-primary;
}

.font-size-big {
    font-size: $font-size-big;
}

.color-dark {
    color: $color-dark;
}

.font-size-small {
    font-size: $font-size-small;
}

.color-white {
    color: #fff;
}

.font-weight-700 {
    font-weight: 700;
}